p.redred{
    color:	#FF88C2;
    font-size: 40px;
    text-align: left;
    text-indent: 3em;
    font-family: 'Noto Serif TC', sans-serif ;
}

.blueblue{
    color:#AAFFEE;
}
body{
    font-family: 'Noto Sans TC', sans-serif；
}
.expedu_icon{
    color:blue
}
.expedu_icon:hover{
    background-color: blue;
    color: white;
}