.bg-primary{
    background-color: rgb(81, 117, 218) !important;
    background-image: url(../assets/img/sunrise-8235461_1280.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


div.redred{
    padding: 20px;
    background-color:	rgb(168, 80, 64);
    color: black;
    border: 10px solid orange;
    border-radius: 5px;
    background-image: url(../assets/img/bg-sea.jpg);
    font-size: 40px;
    text-align: center;
    font-family: 'Noto Serif TC', sans-serif ;
    letter-spacing:  0.8px;
    line-height:  1.5em;
    margin:50px auto;
    width:80%
}

.blueblue{
    color:#AAFFEE;
}
body{
    font-family: 'Noto Sans TC', sans-serif;

}
.expedu_icon{
    color:blue
}
.expedu_icon:hover{
    background-color: blue;
    color: white;
}

table.yyyyytable{
    width: 80%;
    background-color: aqua;
}

table.yyyyytable th{
    text-align: center;
    background-color: antiquewhite;
    color: black;
}

table.yyyyytable td{
    text-align: center;
}

table.yyyyytable tr:nth-child(even){
    background-color: blue;
    color:beige
}

table.yyyyytable tr:nth-child(odd){
    background-color: darkgreen;
    color:green;
}
.w-85{
    width: 85%;
}
.over{
    background-color: black;
    color:white;
    padding: 10px   20px;
    border-radius: 15px;
    margin: 30px    auto;
    height: 500px;
    width: 800px;
    overflow: scroll;
}